<div class = "navbar">
	<div class = "navbar-inner">
		<a class="brand" href="http://theabcsofmoney.com">The ABC$ of Money</a>
			<ul class = "nav pull-right">
				<li class="active">
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>	
					<%= link_to "Markets", markets_path %>
				</li>
				<li>	
					<%= link_to "Library", library_path %>
				</li>
				<li>
					<%= link_to "Game", game_path %>
				</li>
				<li>
					<%= link_to "Signup", signup_path %>
				</li>
				<li>
					<%= link_to "Login", login_path %>
				</li>	
			</ul>
	</div>
</div>